@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

html {
	font-family: "Roboto";
}

.App {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.App-header {
	width: 100vw;
	background-color: white;
	display: flex;
	flex-direction: row;
	box-shadow: 1px 1px 2px #666;

	.title {
		font-family: "Raleway";
		font-weight: 800;
		margin-right: auto;
		margin-left: 15px;
		font-size: 22px;
		padding: 5px;
	}
}

.body {
	width: 100%;
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #f3f3f3;

	h1 {
		position: relative;
		top: -18vh;
	}

	.y-axis {
		position: fixed;
		transform: rotate(-90deg);
		left: -18px;
		top: 50%;
	}

	.x-axis {
		position: fixed;
		bottom: 50px;
	}
}

.upload-container {
	display: flex;
	flex-direction: column;
}
.input-label {
	color: black;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	border-radius: 15px;
	color: black;
	padding: 60px;
	text-align: center;
	padding-top: 0;
}

.upload-image {
	width: 150px;
	margin: auto;
	padding-top: 0;
}
.upload-message {
	width: 250px;
	text-align: center;
}
.process-button {
	border: none;
	padding: 10px;
	font-size: 20px;
	background-color: #4caf50;
	color: white;
	cursor: pointer;
}
.process-button:disabled {
	background-color: #666;
	cursor: auto;
}

input[type="file"] {
	display: none;
}

.ReactChart {
	margin-top: -10vw;
	width: 80vw;
	height: 20vh;
}

select {
	background-color: white;
	min-width: 200px;
	text-align: center;
	font-size: 18px;
	font-family: "Roboto";
	padding: 10px;
	margin-bottom: 60px;
	border: none;
}

#overlay {
	position: fixed; /* Sit on top of the page content */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white; /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	overflow-y: scroll;
}

.tutorial {
	justify-content: center;
}

.how-to {
	width: 100%;
	align-items: center;
	justify-content: center;

	ol {
		margin: 15vh 15vw;
		font-size: 22px;

		img {
			width: 100%;
		}

		span {
			font-size: 16px;
		}
	}
}
.arrows {
	width: 22px;
	padding: 8px;
	height: auto;
	vertical-align: middle;
}

.toggle-open {
	height: 100%;
	padding: 0 25px;
	font-family: "Roboto";
	font-size: 18px;
	color: white;
	background-color: #4caf50;
	border: none;

	&:hover {
		background-color: #3d8f40;
		cursor: pointer;
	}
}

.toggle-close {
	font-size: 140px;
	font-weight: lighter;
	padding: 20px 50px;
	position: fixed;
	top: 0;
	right: 0;
	background: none;
	border: none;
}
